
    <body>
       <div class="sub-container">
           <h1 id="ep-name"><%=episode[0].name%></h1>
           <input id="img"type="image" src="<%=episode[0].img %>" name="saveForm" class="btTxt submit" id="saveForm" />
           <ul class="font">
               <h5>Release Date:</h5>
               <li> <%=episode[0].releaseDate%></li>
               <h5>Summary:</h5>
               <li> <%=episode[0].summary%></li>
               <h5>Intro Song:</h5>
               <li> <%=episode[0].introSong%></li>
               <h5>Outro Song:</h5>
               <li> <%=episode[0].outroSong%></li>
           </ul>
           <a href="/<%=episode[0].episodeNumber%>/new" class="btn btn-primary">Add a comment</a>
           <a href="/<%=episode[0].episodeNumber%>/comments" class="btn btn-secondary"> Edit Comments</a>
        <% comments.forEach(comment=> { %>
            <div class="cards">
                <div class="font container-sm bg-info"> <%=comment.post %></div>
                <% }) %>
       </div>
       
    </div>
    </body>
